@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
/* *** TYPOGRAPHY *** */

/* *** TYPOGRAPHY *** */

/**** UTILS CLASS ****/
a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  letter-spacing: 1px;
}

button {
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: rgb(181, 144, 216);
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 4px 2px;
  cursor: pointer;
  transition: 200ms;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.clicked {
  background-color: #d3e886;
  color: black;
}
/**** UTILS CLASS ENDS ****/

.container {
  max-width: 60%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/**** HEADER && FOOTER ****/

header,
.footer {
  /* text-shadow: 3px 2px 0px rgba(0, 0, 0, 1); */
  font-weight: bolder;
  padding: 1em 2em;
  background-color: #a4bcf4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
  margin-top: auto;
  color: white;
}

/**** HEADER && FOOTER ENDS****/

.main-container {
  min-height: 100vh;
  /* padding: 1rem 2rem; */
}

.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

header a {
  text-decoration: none;
  color: white;
}

/**** HOME PAGE ****/

.home {
  padding: 1em 2em;
  /* background-image: url("./assets/home.png"); */
  background-image: url("https://images.unsplash.com/photo-1478059299873-f047d8c5fe1a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  height: 100vh;
}

.home a {
  color: white;
  background-color: rgb(200, 172, 245);
  width: 50%;
  text-align: center;
  padding: 12px 25px;
  border-radius: 1rem;
  font-size: 1.2rem;
}

/**** HOME PAGE ENDS ****/

/**** ABOUT PAGE ****/

.about {
  padding: 1em 2em;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 3rem;
}

.about-hero-image {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.about a {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(181, 144, 216);
  text-align: center;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
}

/**** ABOUT PAGE ENDS ****/

/**** VANS LIST PAGE ****/

.vans-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1em 2em;
}

.vans-filter {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}

.vans-filter button {
  padding: 10px 15px;
}

.vans-filter .clear-filter {
  margin-left: auto;
  background-color: #a4bcf4;
}

.vans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.3rem;
  transition: 300ms;
}

.van {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.van img {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.van-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.van a {
  background-color: rgb(200, 172, 245);
  text-align: center;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
}

/**** VANS LIST PAGE ENDS ****/

/**** VANS DEATAILS PAGE ****/
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em 2em;
}

.details a {
  font-size: 1.1rem;
  font-weight: light;
}

.details img {
  align-self: center;
  max-width: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem 0;
}

.details button {
  width: 20%;
  margin-top: 10px;
  font-size: 1.2rem;
  padding: 8px;
}

.details p {
  line-height: 2rem;
}

.details .rent-btn {
  width: 30%;
  align-self: center;
}

/**** VANS DEATAILS PAGE ENDS ****/

/****  NAVBAR FOR HOST ****/

.host-nav {
  padding-top: 1.6rem;
  display: flex;
  gap: 1rem;
}

.host-nav a {
  font-family: inherit;
}

/****  NAVBAR FOR HOST ENDS ****/

/**** HOST VANS LISTING ****/

.host-container {
  padding: 1em 2em;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.host-vans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.host-van {
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  border-radius: 10px;
  padding: 1rem;
}

.host-van img {
  width: 20%;
  border-radius: 10px;
}

.host-van-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/**** HOST VANS LISTING ENDS ****/

/**** HOST VANS DETAILS PAGE ****/

.host-van-details {
  padding: 1em 2em;
  /* min-height: 500px; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.host-van-moreInfo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.host-van-moreInfo .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host-van-moreInfo img {
  width: 30%;
  border-radius: 10px;
}

.info button {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

.host-van-detailed-nav {
  display: flex;
  gap: 1.5rem;
}

.detailed-info {
  line-height: 2rem;
}

.detailed-info span {
  font-weight: lighter;
}

.photos img {
  width: 23%;
  border-radius: 12px;
}

/**** ERROR PAGE ****/

.error-container {
  height: 90vh;
  padding: 1em 2em;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container h1 {
  text-align: center;
}

.error-container button {
  padding: 10px 15px;
}
/**** ERROR PAGE ENDS ****/

/**** LOGIN  PAGE START ****/
.login-form {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
}

.login-form form p {
  text-align: center;
}

.login-form form a {
  text-decoration: underline;
  font-weight: bold;
}

.login-form input {
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #487af0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: inherit;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  width: 50%;
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
}

.need-to-login {
  color: red;
}

/**** LOGIN  PAGE ENDS ****/

/**** LOGOUT  PAGE STARTS ****/

.logout-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logout-container button {
  font-size: 1rem;
  padding: 15px 30px;
}

/**** LOGOUT  PAGE ENDS ****/

/**** Dashboard  PAGE STARTS ****/

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.income-stats,
.reviews-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.income {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/**** Dashboard  PAGE ENDS ****/

/**** Income  PAGE STARTS ****/

.income-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 1rem;
}

.income-container span {
  font-weight: bolder;
  text-decoration: underline;
}

.income,
.transaction-report {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/**** Income  PAGE ENDS ****/

/**** HOST VANS DETAILS PAGE ENDS ****/

/* MOBILE */

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
  .container {
    min-width: 100%;
  }
  .van {
    max-width: 100%;
  }
  .van img {
    height: auto;
  }
  .about a {
    width: 40%;
  }

  .links {
    gap: 0.7rem;
  }

  .login-form form {
    width: auto;
  }
}
